
.banner{width:100vw;height: 560px}
.carousel{
	/*overflow: hidden;height: 560px;*/
}
.carousel1,.carousel2{
	height: 560px;
	width: 100%;
	flex-shrink: 0
}
.carousel1{
	background-image:url(../img/2.png);
}
.carousel2{
	background-image:url(../img/1.png);
}


.width142px{
	width: 142px;
}
.size100{
	font-size: 100px
}
.marginR80px{
	margin-right: 80px;
}
.line-h30{
	line-height: 30px;
}



.why{
	background:#F5F5F6;height: 468px;padding-top: 62px;
}
.why-header{
	margin-bottom: 80px;
}
.why-img{
	width: 125px;height: 125px;border-radius: 50%;
	line-height: 129px; 
	margin: 0px auto 25px;
}

.why-img::after{
  /*content:'';
  display: inline-block;
  width:5px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  right: -5px;
  margin-top: 2.5px;
  opacity: 0;
  background:rgba(22, 160, 133, 0.7);
  box-shadow: 0px 0px 10px rgba(22,160,133,1);*/
  /*background: -webkit-linear-gradient(left, rgba(255,255,255,1) ,rgba(255,255,255,0)); /* Safari 5.1 - 6.0 */
  /*background: -o-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0)); /* Opera 11.1 - 12.0 */
  /*background: -moz-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0)); /* Firefox 3.6 - 15 */
  /*background: linear-gradient(to right, rgba(255,255,255,1) ,rgba(255,255,255,0)); /* 标准的语法 */
  /*transform-origin: -62.5px 0px;*/
}

/*.why-img:hover::after{
  animation:myfirst 2s linear;
  -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
     -ms-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
         animation-fill-mode: forwards;
}*/
@keyframes myfirst{
    0%  {
      opacity: 1;
        transform:rotate(0deg);
    }
    50% {
        transform:rotate(-360deg);
    }
    100%{
      opacity: 0;
      transform:translateX(200px);
    }
}



.why-img img{
	display: block;
}
.marginR100px{
	margin-right: 100px;
}

.why-time{
	width: 100%;
	top: 26px;
	border-bottom: 1px solid #16A085;
	color:#16A085;
	box-sizing: border-box;
	padding:0px 120px;
}
.why-time div{
	padding-bottom: 17px;
	/*border-bottom: 1px dashed #16A085;*/
	width: 128px;
}
.jc-se{
	-webkit-box-pack: space-evenly; 
	-moz-box-pack: space-evenly; 
	-ms-flex-pack: space-evenly; 
	-webkit-justify-content: space-evenly; 
	justify-content: space-evenly;
	 /* 09版 */
	-webkit-box-pack: space-evenly;
	/* 12版 */
	-webkit-justify-content: space-evenly;
	-moz-justify-content: space-evenly;
	-ms-justify-content: space-evenly;
	-o-justify-content: space-evenly;
	justify-content: space-evenly;
}
.spot{
	width: 100%;
	bottom: -2px;
}
.spot span{
	display: inline-block;
	width: 4px;
	height: 4px;
	background:#16A085;
	border-radius: 50%
}
.z3{
	z-index: 3
}
.z4{
	z-index: 4
}


.merit{
	padding-top: 68px;
}
.merit-header{
	margin-bottom: 72px;
}

.merit-img{
  width: 168px;
}
.merit-img img{
	margin:0px auto 40px;
	display: block;
	height:80px;
}

.table{
	height: 560px;
  	background-position: 50% -15px;
  	background-size: cover;
  	background-image:url(../img/7.png);
  	padding-top: 89px;
}
.width95px{
  width: 95px;
}

.sjx-box{
  box-sizing: border-box;
  padding:0px 60px;
  margin-top: 15px;
}
.sjx{
    background:url(../img/7.png) no-repeat;
    -webkit-background-size: 100vw;
    background-size: 100vw;
    z-index: 2;
    margin-top: -30px;
}
.sjx0{
  background-position: 23% 0px;
}
.sjx1{
  background-position: 40% 0px;
}
.sjx2{
  background-position: 60% 0px;
}
.sjx3{
  background-position: 80% 0px;
}
.table3 img{
    height: 100%;
} 
.test{
    width: 15px;
    height: 15px;
    box-sizing:border-box;
    border-top: 15px solid #fff;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
   /* border-top-right-radius: 4px;
    border-radius: 12px;*/
}

.vis-hid{
  visibility: hidden;
}









.marginB94px{
	margin-bottom: 94px;
}

.new,.juggle,.result{
	border:1px dashed #fff;
	box-sizing: border-box;
}
.new{
	width: 400px;
	height: 214px;
	padding: 20px 37px;
}
.new-img{
	width: 180px;
	height: 174px;
	background-image: url(../img/18.png)
}

.add img{
	width: 55px;
}
.juggle{
	width: 350px;
	height: 214px;
	padding: 22px 75px;
}
.juggle p{
	width: 100%
}
.juggle img{
	width: 42px;height: 40px;margin-bottom: 12px;
}
.equal img{
	width: 80px;
}
.result{
	width: 246px;
	height: 214px;
}
.result p{
	width: 160px;height: 40px;line-height: 40px;
}
.marginB110px{
	margin-bottom: 110px;
}

.table2-img1 img{
  width: 340px;display: block;margin-right: 68px;
}
.table2-img img{
  display: block;
  /*margin-bottom: 36px;*/
}
.table2-img2{
  margin-right: 88px;
}
.table2-img2 img{
  width: 70px; height:74px;margin:0px auto 30px;
}
.table2-img3{
  margin-right: 86px;
}
.table3-img2 img{
	height:120px;margin:0px auto 30px; 
}
.table3-img3 img{
	width: 125px;margin:0px auto 30px; 
}
.table3-img4 img{
	width: 140px;margin:0px auto 30px; 
}
.table3-img img{
	width: 80px;margin:0px 80px;
}
.table4-img img{
	width: 55px;
	margin: -100px 88px 36px
}
.table2-content{
  margin:72px 0px 83px;
}
.marginR110px{
  margin-right: 110px;
}
.lineHeight30{
  line-height: 30px;
}









.digitizing{
	margin-bottom: 147px;
}
.digitizing-header{
	margin-top: 95px;
	margin-bottom: 70px;
}
.after-hover{
	width: 383px;height: 450px;
	box-sizing: border-box;
	padding-top: 115px;
}
.after-hover:hover .iot{
  height: 450px;
  padding-top: 260px;
}
.iot{
  width: 383px;height:450px;
  background:rgba(22,160,133,.7);
  left: 0px;
  top: 0px;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 0px;
  height: 0px;
  transition: .5s
}
.zIndex3{
  z-index: 3
}
.industry{
	background-image: url(../img/6.png)
}
.city{
	background-image: url(../img/4.png)
}
.agriculture{
	background-image: url(../img/8.png)
}
.more{
	background-image: url(../img/5.png)
}

.digitizing-img{
	width: 70px;height: 70px;display: block;margin: 0px auto 32px;
}


.contact{
	 background:url(../img/3.png);
	 height: 200px;
}



.hancks{
	width: 225px;
}
.why-time .hancks-con{
	margin:0px 90px;
}